<%- include("../partials/header") -%> <%- include("../partials/categories-navbar") -%>


    
    <!-- Flash messages -->
    <% if(successMsg.length > 0 || errorMsg.length > 0) {%>
        <div id="flash-msg" class="row mt-3 mb-3">
            <div class="col-md-12 m-auto">
                <% if (successMsg.length > 0){ %>
                    <div id="success" class="alert alert-success">
                        <%= successMsg %>
                    </div>
                <% } else { %>
                    <div id="success" class="d-none"></div>
                <% } %>
            </div>
            <div class="col-md-12 m-auto">
                <% if (errorMsg.length > 0) { %>
                    <div id="error" class="alert alert-danger">
                        <%= errorMsg %>
                    </div>
                <% }  else { %>
                    <div id="error" class="d-none"></div>
                <% } %>
            </div>
        </div>
    <% } %>
    
    <!-- Page banner image -->

    <% if(pageName == 'All Products') { %>
        <div class="text-center hero-container">
            <img class="d-block w-100 hero-image"
            src="/images/banner-all-products.png"/>
            <div class="hero-text">
                <h1><%=pageName%></h1>
            </div>
        </div>
    <%} else {%> <%categories.forEach( (category) => {%> 
        <%if(pageName == category.categoryName){%>
            <div class="text-center hero-container">
                <img class="d-block w-100 hero-image"
                src="/images/banner-<%=category.slug%>.png" />
                <div class="hero-text">
                    <h1><%=pageName%></h1>
                </div>
            </div>
        <%}%> 
    <%})%> <%}%>

    <hr class="gradient-style" />
    <!-- Contents -->
    <div class="container-fluid">
        <div class="row pl-4 pr-4">
            <% products.forEach((product) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-index-box">
                    <div class="single-product d-flex flex-column h-100">
                        <a class="title-link"
                        href="/products/<%=product.productName%>/<%=product._id%>">
                            <img src="<%= product.productImagePath %>" alt="<%= product.productName %>" class="img-fluid"/>
                        </a>
                        <div class="product-info">
                            <a class="title-link"
                            href="/products/<%=product.productName%>/<%=product._id%>">
                                <h6 class="mt-2 mb-2"><%= product.productName %></h6>
                            </a>
                            <div class="price">USD <%= product.productPrice %></div>
                        </div>
                        <% if(product.available) {%>
                            <a href="/add-to-cart/<%=product._id%>"
                            class="btn btn-block btn-info button-style mt-auto mb-2">
                                Add to Cart
                            </a>
                        <% } else { %>
                            <a href="#"
                            class="btn btn-block btn-danger button-style-danger mt-2 mb-2">
                                Out of Stock
                            </a>
                        <%} %>
                    </div>
                </div>
            <% }) %>
        </div>

        <%- include("../partials/pagination") -%>
    </div>
</div>
<%- include("../partials/footer") -%>
